.body {
    font-family: "Inter" !important;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}



.circle {
    border-radius: 50%;
    position: absolute;
}

.circle:nth-child(1),
.circle:nth-child(2) {
    color: white;
    font-size: 0.75rem;
    /* 12px converted to rems */
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.circle:nth-child(2) {
    animation: circleMove 5s infinite;
}

.circle:nth-child(3),
.circle:nth-child(4),
.circle:nth-child(5),
.circle:nth-child(6),
.circle:nth-child(7) {
    width: 8.75rem;
    /* 140px converted to rems */
    height: 8.75rem;
    /* 140px converted to rems */
    border: 0.125rem solid #F9DE4B;
    /* 2px converted to rems */
}

.circle:nth-child(4) {
    width: 11.875rem;
    /* 188px converted to rems */
    height: 11.875rem;
    /* 188px converted to rems */
    border: 0.125rem solid #E99539;
    /* 2px converted to rems */
}

.circle:nth-child(5) {
    width: 15.125rem;
    /* 241px converted to rems */
    height: 15.125rem;
    /* 241px converted to rems */
    border: 0.125rem solid #E26A32;
    /* 2px converted to rems */
}

.circle:nth-child(6) {
    width: 17.625rem;
    /* 282px converted to rems */
    height: 17.625rem;
    /* 282px converted to rems */
    border: 0.125rem solid #DD4F30;
    /* 2px converted to rems */
}

.circle:nth-child(7) {
    width: 20.375rem;
    /* 326px converted to rems */
    height: 20.375rem;
    /* 326px converted to rems */
    border: 0.125rem solid #DD4F30;
    /* 2px converted to rems */
}

.square {
    width: 19.563rem;
    /* 313px converted to rems */
    height: 19.563rem;
    /* 313px converted to rems */
    border: 0.125rem solid rgb(134, 133, 133);
    /* 2px converted to rems */
    z-index: 100;
}

@keyframes circleMove {
    0% {
        width: 11.75rem;
        /* 140px converted to rems */
        height: 11.75rem;
        /* 140px converted to rems */
        border: 0.125rem solid #F9DE4B;
        /* 2px converted to rems */
        transform: translate(0, 0);
        background-color: transparent;
    }

    20% {
        width: 14.875rem;
        /* 188px converted to rems */
        height: 14.875rem;
        /* 188px converted to rems */
        border: 0.125rem solid #F9DE4B;
        /* 2px converted to rems */
        transform: translate(0, 0);
        background-color: transparent;
    }

    40% {
        width: 18.125rem;
        /* 241px converted to rems */
        height: 18.125rem;
        /* 241px converted to rems */
        border: 0.125rem solid #E99539;
        /* 2px converted to rems */
        transform: translate(0, 0);
        background-color: transparent;
    }

    60% {
        width: 20.625rem;
        /* 282px converted to rems */
        height: 20.625rem;
        /* 282px converted to rems */
        border: 0.125rem solid #E26A32;
        /* 2px converted to rems */
        transform: translate(0, 0);
        background-color: transparent;
    }

    80% {
        width: 23.375rem;
        /* 326px converted to rems */
        height: 23.375rem;
        /* 326px converted to rems */
        border: 0.125rem solid #DD4F30;
        /* 2px converted to rems */
        transform: translate(0, 0);
        background-color: transparent;
    }
}

.circle-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    left: 4rem !important;
    top: 7rem !important;
    padding: 10rem;
}

@media screen and (max-width:768px) {
    .circle-container {

        left: -2rem !important;
        top: 1rem !important;
    }
}